#text {font-size: 30pt;
    font-family: fantasy;
color:lightcoral;
position: absolute;
top: 400px;
left: 400px;}
@keyframes enlarge {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg); }}
            
#text:hover {animation-name: enlarge;
                animation-duration: 1s;
                animation-iteration-count:1;
                rotate: 180deg;}